.LanguageButton{
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 2.5em;
    margin: 1em;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
    /* color: white; */
    letter-spacing: 2px;
    font-family:'ithra-medium';
    box-sizing: border-box;
}

.LanguageButton_Idle{
    box-shadow: 0 0 0 1px;
    cursor: pointer;
    opacity: 1;
}

.LanguageButton_Selected{
    box-shadow: 0 0 0 3px;
    cursor: not-allowed;
    
}

.LanguageButton_Disabled{
    cursor: not-allowed;
    
    
}

.Container_enabled{
    display: flex;
    opacity: 1;
    transition: all .5s ease;
    pointer-events: auto;
}

.Container_disabled{
    display: flex;
    opacity: 0.5;
    transition: all .5s ease;
    pointer-events: none;
}